<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Spring Security</h1>
  <a th:href="@{/sample/all}">/sample/all</a><br>
  <a th:href="@{/sample/admin}">/sample/admin</a><br>
  <a th:href="@{/sample/member}">/sample/member</a><br>
  <a th:href="@{/sample/exOnly}">/sample/exOnly</a><br>
  <a th:href="@{/member/login}">/member/login</a><br>
</body>

</html>